.text {
  &--body {
    @include fontRegular(18px);
  }

  &--subtitle {
    @include fontRegular(16px);
  }

  &--body-sm {
    @include fontRegular(14px);
  }

  &--caption {
    font-family: 'IBM Plex Mono', monospace;
    font-size: 12px;
    text-transform: uppercase;
  }

  &--overline {
    font-family: 'IBM Plex Mono', monospace;
    font-size: 10px;
    text-transform: uppercase;
  }
}