* {
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

body {
  background-color: $gray-light;
}

main {
  padding-top: 72px;

  @include media-breakpoint-up(lg) {
    padding-top: 92px;
  }
}

.infinite-status-prompt {
  padding: 10px 0px;
  max-width: 500px;
  margin-bottom: 30px;
  text-align: left;
  font-size: 23px;
  line-height: 1.2;
  color: #323232;
  display: flex;
  justify-content: center;
  align-content: center;
}
