* {
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

body {
  background-color: $gray-light;
}

main {
  padding-top: 72px;

  @include media-breakpoint-up(lg) {
    padding-top: 92px;
  }
}