@import '../../../node_modules/bootstrap/scss/mixins';

@mixin fontAlpha($px, $weight) {
  font-family: 'Lays';
  font-size: $px;

  @if $weight==500 {
    font-weight: 500;
  }

  @if $weight==700 {
    font-weight: 700;
    font-family: 'Lays Bold';
  }
}

@mixin below($size) {
  @media (max-width: $size) {
    @content;
  }
}

@mixin above($size) {
  @media (min-width: $size) {
    @content;
  }
}

@mixin between() {
  @media (min-width: 576px) and (max-width: 1022px) {
    @content;
  }
}