@import '../../../node_modules/bootstrap/scss/mixins';

@mixin fontRegular($px) {
  font-weight: 400;
  font-size: $px;
  font-family: 'SF Pro Display', sans-serif;
}

@mixin fontBold($px) {
  font-weight: 700;
  font-size: $px;
  font-family: 'SF Pro Display', sans-serif;
}

@mixin fontHeavy($px) {
  font-weight: 900;
  font-size: $px;
  font-family: 'SF Pro Display', sans-serif;
}

@mixin below($size) {
  @media (max-width: $size) {
    @content;
  }
}

@mixin above($size) {
  @media (min-width: $size) {
    @content;
  }
}

@mixin between() {
  @media (min-width: 576px) and (max-width: 1022px) {
    @content;
  }
}